<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @stock_datum.symbol %>
</p>

<%= link_to 'Edit', edit_stock_datum_path(@stock_datum) %> |
<%= link_to 'Back', stock_data_path %>
